body {
    width: 100%;
  }
  
    
  /* // ############################################## */
  
  /* // COUNTER START */
  .love_count {
    font-size: 75px;
    color: rgb(250, 103, 4);
    margin-bottom: 25px;
    font-weight: 300;
  }
  
  .coount_head {
    color: rgb(252, 248, 1);
  }
  
  
  .counter_image {
      background-image: url(https://cdn.pixabay.com/photo/2017/07/24/12/43/schrecksee-2534484__340.jpg);
      min-height: 500px; 
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  #colo {
      border-radius: 50px;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  /* // COUNTER ENDS */
  
   